## Download data and install libraries

In [1]:
import os
!mkdir '/root/.kaggle'
os.chdir('/root/.kaggle')
![ -e kaggle.json ] && rm kaggle.json
!echo "{\"username\":\"honorisverum\",\"key\":\"1b763b7e5cdd751f5a7d53eaf02dd887\"}" >> kaggle.json
!chmod 600 ./kaggle.json
os.chdir('/content/')

In [2]:
!pip install kaggle --upgrade

Requirement already up-to-date: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.9)
Requirement already satisfied, skipping upgrade: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied, skipping upgrade: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied, skipping upgrade: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied, skipping upgrade: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied, skipping upgrade: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied, skipping upgrade: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied, skipping upgrade: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)

In [3]:
!kaggle competitions download -c kkbox-music-recommendation-challenge

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.9 / client 1.5.4)
Downloading test.csv.7z to /content
 79% 33.0M/41.9M [00:00<00:00, 34.8MB/s]
100% 41.9M/41.9M [00:00<00:00, 61.3MB/s]
Downloading song_extra_info.csv.7z to /content
 98% 97.0M/98.8M [00:00<00:00, 83.6MB/s]
100% 98.8M/98.8M [00:00<00:00, 111MB/s]
Downloading songs.csv.7z to /content
 80% 81.0M/101M [00:01<00:00, 75.8MB/s]
100% 101M/101M [00:01<00:00, 86.9MB/s]
Downloading sample_submission.csv.7z to /content
  0% 0.00/453k [00:00<?, ?B/s]
100% 453k/453k [00:00<00:00, 149MB/s]
Downloading members.csv.7z to /content
  0% 0.00/1.29M [00:00<?, ?B/s]
100% 1.29M/1.29M [00:00<00:00, 186MB/s]
Downloading train.csv.7z to /content
 96% 97.0M/101M [00:03<00:00, 45.3MB/s]
100% 101M/101M [00:03<00:00, 33.0MB/s]

In [ ]:
!7z x members.csv.7z
!7z x sample_submission.csv.7z
!7z x song_extra_info.csv.7z
!7z x songs.csv.7z
!7z x test.csv.7z
!7z x train.csv.7z

In [5]:
!rm *.7z

In [ ]:
!pip install catboost

In [67]:
import copy
from collections import defaultdict
import random
import catboost
import xgboost
from itertools import combinations
import numpy as np
from tqdm.notebook import tqdm
import pandas as pd
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import KFold

## About data

In [3]:
pd.read_csv('./train.csv')[:5]

                                           msno  ... target
0  FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=  ...      1
1  Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=  ...      1
2  Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=  ...      1
3  Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=  ...      1
4  FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=  ...      1

[5 rows x 6 columns]

In [4]:
pd.read_csv('./songs.csv')[:5]

                                        song_id  ...  language
0  CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=  ...       3.0
1  o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=  ...      31.0
2  DwVvVurfpuz+XPuFvucclVQEyPqcpUkHR0ne1RQzPs0=  ...      31.0
3  dKMBWoZyScdxSkihKG+Vf47nc18N9q4m58+b4e7dSSE=  ...       3.0
4  W3bqWd3T+VeHFzHAUfARgW9AvVRaF4N5Yzm4Mr6Eo/o=  ...      52.0

[5 rows x 7 columns]

In [5]:
pd.read_csv('./members.csv')[:5]

                                           msno  ...  expiration_date
0  XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=  ...         20170920
1  UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=  ...         20170622
2  D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=  ...         20170712
3  mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=  ...         20150907
4  q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=  ...         20170613

[5 rows x 7 columns]

## Data preparation

In [6]:
train_data = pd.read_csv('./train.csv')
user_data = pd.read_csv('./members.csv', parse_dates=['expiration_date', 'registration_init_time'])
item_data = pd.read_csv('./songs.csv')

train_data = train_data.merge(item_data, on='song_id', how='left')
train_data = train_data.merge(user_data, on='msno', how='left')

In [8]:
label_encoder = sklearn.preprocessing.LabelEncoder()

for col in ['msno', 'song_id', 'source_screen_name', 
            'source_system_tab', 'source_type', 'genre_ids', 
            'artist_name', 'composer', 'lyricist', 'gender']:
    train_data[col] = label_encoder.fit_transform(train_data[col].fillna('nan'))
    
for col in ['language', 'city', 'registered_via']:
    train_data[col] = label_encoder.fit_transform(train_data[col].fillna(-1))

train_data['time'] = train_data.index / len(train_data)

In [9]:
train_data[:5]

    msno  song_id  ...  expiration_date          time
0   8158    74679  ...       2017-10-05  0.000000e+00
1  17259   223479  ...       2017-09-11  1.355488e-07
2  17259   120758  ...       2017-09-11  2.710976e-07
3  17259    23707  ...       2017-09-11  4.066463e-07
4   8158    33308  ...       2017-10-05  5.421951e-07

[5 rows x 19 columns]

In [10]:
len(train_data)

7377418

## Feature engineering

In [73]:
def past_count(df, cols):
    feature, cnt = [], defaultdict(lambda: 0)
    for v in df[col].values:
        cnt[v] += 0 if v not in cnt else 1
        feature.append(cnt[v])
    return feature

def value_count(df, col):
    vcnt_map = train_data[col].value_counts()
    feature = df[col].map(vcnt_map).fillna(0)
    return feature


def future_count(df, col):
    feature, df_reverse, cnt = \
        [], df.sort_index(ascending=False), defaultdict(lambda: 0)
    for v in df_reverse[col].values:
        feature.append(cnt[v] if v in cnt else 0)
        if v in cnt: cnt[v] += 1 
        else: cnt[v] = 1
    feature.reverse()
    return feature


def diff_count(df, col):
    last_time = df.groupby(df[col]).time.last()
    feature = df[col].map(last_time) - df.time
    return feature


def nexthearing_count(df, col):
    feature, df_reverse, nexthearing = [], df.sort_index(ascending=False), {}
    for v, t in zip(df_reverse[col], df_reverse.time):
        feature.append(t - nexthearing[v] if v in nexthearing else -1)
        nexthearing[v] = t
    feature.reverse()
    return feature

In [74]:
def make_features(df):

    categorical_columns = [
        'artist_name', 'city', 'composer', 'gender', 'genre_ids', 'language',
        'lyricist', 'msno', 'registered_via', 'song_id', 'source_screen_name',
        'source_system_tab', 'source_type', 'time',
    ]

    y = df.target
    X = pd.DataFrame()

    for col in categorical_columns:
        for func in [past_count, value_count, count_from_future,
                     diff_count, nexthearing_count]:
            X[f"{col}_{func.__name__}"] = func(df, col)

    for col in ['expiration_date', 'registration_init_time']:
        X[col] = df[col].apply(lambda x: x.toordinal())
    
    for col in ['song_length', 'bd']:
        X[col] = df[col]
    
    X['part_song_listened'] = df['song_length'] / X['msno_nexthearing_count']

    return X, y

In [75]:
# check on small dev subset

develop = train_data[:1000]
dev_X, dev_y = make_features(develop)

In [76]:
dev_X[:5]

   artist_name_past_count  artist_name_value_count  ...  bd  part_song_listened
0                       1                     1140  ...   0       -3.808057e+11
1                       1                   303616  ...  24       -2.099495e+12
2                       1                      289  ...  24       -1.662841e+12
3                       1                        1  ...  24       -6.283396e+11
4                       1                      427  ...   0       -1.385494e+12

[5 rows x 75 columns]

In [77]:
dev_y[:5]

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [78]:
len(dev_X.columns)

75

In [42]:
train_shuffled = copy.deepcopy(train)
random.shuffle(train_shuffled)
X, y = make_features(train_shuffled)
len(X), len(y)

(7377418, 7377418)

In [40]:
del X
del y

## Train / test (on 5 kfolds)

In [ ]:
metrics = {'Logloss': 0.0, 'AUC': 0.0}
kf = KFold(n_splits=5)

for fold, (train_idxs, test_idxs) in enumerate(kf.split(X)):
    X_train, y_train = X.iloc[train_idxs], y.iloc[train_idxs]
    X_test, y_test = X.iloc[test_idxs], y.iloc[test_idxs]

    model = catboost.CatBoostClassifier(
        iterations=200, 
        learning_rate=0.03, 
        depth=7, 
        loss_function='Logloss',
        thread_count=50,
        random_seed=1,
        task_type="GPU",
        devices='0',
        verbose=False,
    )
    model.fit(X_train, y_train)

    pool = catboost.Pool(X_test, y_test)
    mt = model.eval_metrics(pool, ['Logloss', 'AUC'], thread_count=50)
    for k in mt:
        metrics[k] += mt[k][-1]
    
    del X_train
    del X_test

for k in metrics:
    metrics[k] /= 5

In [69]:
metrics

{'AUC': 0.7163594669879348, 'Logloss': 0.6038456790481755}

In [ ]:
#!kaggle competitions submit -c kkbox-music-recommendation-challenge -f 'submission.csv' -m '1st_try'